<h1>Contador por espacios presionados: {{counter}}</h1> 
Press enter key to increment the counter.
<button (click)="resetCounter()">Resetear contador</button>

<h1>Contador por teclas presionadas {{counter2}}</h1>
Press enter key to increment the counter.
<button (click)="resetCounter2()">Resetear contador</button>

<h1 class="sdfdsf">Mover imagen HostListener</h1>
<div>
    <div #player>
        <img alt="goku" width="200px" height="200px" src="https://www.geekmi.news/__export/1623433413016/sites/debate/img/2021/06/11/gokx-1.jpg_172596871.jpg">
    </div>
</div>

<label for="">{{ text | pipeArgs: 'qwe': '123' }}</label>